<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>user_signup</servlet-name>
        <servlet-class>com.lockwise.services.user_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_login</servlet-name>
        <servlet-class>com.lockwise.services.user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_dashboard</servlet-name>
        <servlet-class>com.lockwise.services.view_dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_logout</servlet-name>
        <servlet-class>com.lockwise.services.user_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpasswords</servlet-name>
        <servlet-class>com.lockwise.services.addpasswords</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_signup</servlet-name>
        <url-pattern>/user_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_login</servlet-name>
        <url-pattern>/user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_dashboard</servlet-name>
        <url-pattern>/view_dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_logout</servlet-name>
        <url-pattern>/user_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpasswords</servlet-name>
        <url-pattern>/addpasswords</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
